In [36]:
import numpy as np
import pandas as pd
import re
import torch
import torchtext
from torch import nn, optim
from sklearn.model_selection import train_test_split, KFold

In [77]:
dat = pd.read_csv('cmu_ipa.csv', delimiter=',', header=None, names=['word', 'ipa'])
dat.word = dat.word.apply(lambda x: re.sub('\(1\)|\.', '', str(x)).lower())
dat.ipa = dat.ipa.apply(lambda x: re.sub('\s+', '', str(x)))

In [78]:
dat

              word         ipa
0                a           ʌ
1                a         ejˈ
2              a's        ejˈz
3                a         ejˈ
4              a's        ejˈz
...            ...         ...
133285    zyuganov   zjuˈgɑnɑv
133286    zyuganov    zuˈgɑnɑv
133287  zyuganov's  zjuˈgɑnɑvz
133288  zyuganov's   zuˈgɑnɑvz
133289     zywicki     zɪwɪˈki

[133290 rows x 2 columns]

In [37]:
kf = KFold(n_splits=5)

In [38]:
for train_idx, test_idx in kf.split(dat):
    train_dat, test_dat = dat.loc[train_idx], dat.loc[test_idx]
    x_train, y_train = train_dat.word, train_dat.ipa
    x_test, y_test = test_dat.word, test_dat.ipa

5